.colaborador {
  width: 280px;
}

.colaborador .cabecalho {
  background-color: #f0f0f0;
  border-radius: 10px 10px 0px 0px;
}

.colaborador img {
  width: 100px;
  border-radius: 50%;
  position: relative;
  bottom: -50px;
}

.colaborador .rodape {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 10px 10px;
  padding-top: 70px;
  padding-left: 0px;
  padding-right: 0px;
  /* padding-bottom: 40px; */
}

.colaborador .rodape h4 {
    color: #627BF7;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
    margin: 0px;
}

.colaborador .rodape h5 {
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    margin: 0px;
    /* padding: 0 16px; */
}

.colaborador .rodape h6 {
  font-size: 13px;
  margin: 0px;
  line-height: 22px;
  color: #212121;
  /* padding: 0 16px; */
}

.colaborador .rodape a {
  cursor: pointer;
  
}
